button {
    background-color: #fff;
    border: none;
    width: 85px;
    padding: 0.5rem 1.25rem;
    font-size: 1.2rem;
    border-radius: 20px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

button:hover {
    background-color: #7ec5d8;
    color: #fff;
}