#wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  background-image: url("../public/milky_way.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

/* .spline {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
} */

.content {
  position: absolute;
  color: white;
  z-index: 10;
}

nav {
  height: 10vh;
  width: 100vw;
  backdrop-filter: blur(2px);
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navText {
  display: flex;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.navTitle {
  text-align: center;
  font-size: 32px;
  /* margin-bottom: 0; */
  font-weight: 800;
  margin-top: 12px;
}

ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transform: translateX(0px);
  transform: translateY(0px);
}

ul li a:hover {
  color: #7ec5d8;
  transform: scale(1.2);
}

ul {
  margin-left: 50px;
  list-style-type: none;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}