#wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  background-image: url("../public/milky_way.jpg");
  background-clip: content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;

}

/* .spline {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
} */

.content {
  position: absolute;
  color: white;
  z-index: 10;
  height: 100svh;
}

nav {
  height: 200px;
  width: 100vw;
  font-size: 1.5rem;
  font-weight: 400;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navLogo {
  margin-top: 20px;
  margin-left: 50px;
  place-items: center;
}

.navMain {
  text-align: center;
  font-size: 1.75rem;
}

.navTitle {
  text-align: center;
  font-size: 32px;
  /* margin-bottom: 0; */
  font-weight: 800;
  margin-top: 12px;
}

ul {
  position: absolute;
  right: 20px;
  top: 10px;
  list-style-type: none;
  display: grid;
  place-items: right;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 50px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

ul li {
  text-align: right;
}

.link {
  color: white;
  text-decoration: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.link:hover {
  color: #3598b3;
}

#main {
  font-size: 2.5rem;
  margin-left: 50px;
  margin-top: 75px;
}

#mainSpan {
  background: #86BB4C;
  background: linear-gradient(to top right, #86BB4C 0%, #3598b3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

#researchBG {
  background-image: url("../public/milky_way.jpg");
  background-clip: content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
  width: 100svw;
}

#macro {
  color: white;
  backdrop-filter: blur(5px);
  height: 20svh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.micro {
  /* border: 2px solid white; */
  height: 100%;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.micro img {
  margin-right: 10px;
}

h2 {
  margin-bottom: 5px;
  font-weight: 500;
}

h3 {
  color: #d2d2d2;
  font-weight: 200;
  margin-top: 0 !important;
}

#details {
  color: white;
  font-size: 1.15rem;
  text-align: center;
  padding: 0 200px;
}

#details p {
  line-height: 150%;
}

#details p a {
  text-decoration: none;
  color: #27799a;
}